.stn-sel {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 5%;
}

.bckbtn {
    margin: 1%;
    background: cadetblue;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.backToHome {
    display: flex;
    justify-content: center;
    margin: 1%;
}